include ../components/hotel-rating

mixin hotel-card(details)
  .hotel-title
    h1= details.title
    +hotel-rating("hotel-title", 5, "white")
    p= details.subtitle
  section.hotel-card
    a.hotel-card__icon(onclick="javascript:history.back();")
      +icon("icon-cross", 23, 23)
    .hotel-card__image
      +picture("content/hotel-card", "hotel-card-main" + "-desktop", "hotel-card-main" + "-mobile", "jpg", "1090", "490", "Фото отеля" + details.alt)
    .hotel-card__slider
      .swiper-container
        .swiper-wrapper
          a.swiper-slide(data-fslightbox="slider" href="img/content/hotel-card/hotel-card-main-mobile@2x.jpg")
            +picture("content/hotel-card", "hotel-card-main" + "-desktop", "hotel-card-main" + "-mobile", "jpg", "1090", "490", "Фото отеля" + details.alt)
          a.swiper-slide(data-fslightbox="slider" href="img/content/hotel-card/hotel-card-photo-1@2x.jpg")
            +picture("content/hotel-card", details.pictures[0].imageName, details.pictures[0].imageName , "jpg", details.pictures[0].imageWidth, details.pictures[0].imageHeight, "Фото интерьера отеля " + details.alt)
          a.swiper-slide(data-fslightbox="slider" href="img/content/hotel-card/hotel-card-photo-2@2x.jpg")
            +picture("content/hotel-card", details.pictures[1].imageName, details.pictures[1].imageName , "jpg", details.pictures[1].imageWidth, details.pictures[1].imageHeight, "Фото интерьера отеля " + details.alt)
        .swiper-pagination.hotel-card__slider-pagination
    .hotel-card__gallery
        ul
          li
            a(data-fslightbox="gallery" href="img/content/hotel-card/hotel-card-photo-1@2x.jpg")
              +picture("content/hotel-card", details.pictures[0].imageName, details.pictures[0].imageName , "jpg", details.pictures[0].imageWidth, details.pictures[0].imageHeight, "Фото интерьера отеля " + details.alt)
          li
            a(data-fslightbox="gallery" href="img/content/hotel-card/hotel-card-photo-2@2x.jpg")
              +picture("content/hotel-card", details.pictures[1].imageName, details.pictures[1].imageName , "jpg", details.pictures[1].imageWidth, details.pictures[1].imageHeight, "Фото интерьера отеля " + details.alt)
          li
            a(data-fslightbox="gallery" href="img/content/hotel-card/hotel-card-photo-3@2x.jpg")
              +picture("content/hotel-card", details.pictures[2].imageName, details.pictures[2].imageName , "jpg", details.pictures[2].imageWidth, details.pictures[2].imageHeight, "Фото интерьера отеля " + details.alt)
          li
            a.hotel-card__gallery-link(data-fslightbox="gallery" href="img/content/hotel-card/hotel-card-photo-4@2x.jpg")
              +picture("content/hotel-card", details.pictures[3].imageName, details.pictures[3].imageName , "jpg", details.pictures[3].imageWidth, details.pictures[3].imageHeight, "Фото интерьера отеля " + details.alt)
              .div
                span + 15 фото
    .hotel-card__description
      .hotel-card__logo
        +icon(details.logoName, details.logoWidth, details.logoHeight)
      h2= details.descriptionTitle
      p= details.descriptionTextPreview
      button.hotel-card__button(type="button")
        span Читать полностью
        +icon("icon-arrow-down", 19, 11)
      .hotel-card__text-wrapper
        each item in details.descriptionText
          p= item
      .hotel-card__links
        a.hotel-card__link.hotel-card__link--video(href="#")
          +icon("icon-youtube", 44, 31)
          | Посмотреть видео-презентацию
        a.hotel-card__link(href="#")
          +icon("icon-pdf", 26, 35)
          | Скачать PDF-презентацию
